StockClient/Connected Services/StockQuoteServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/StockQuoteService" />
  <xs:element name="GetQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="symbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQuoteResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="symbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StockQuoteService" minOccurs="0" name="GetInfoResult" nillable="true" type="q1:CompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>